__pycache__/
.env
*.egg-info/
*.pyc
TEMP/
bioimageio-gh-pages
scripts/check_compatibility_java_software/test_summaries_null_null
scripts/check_compatibility_java_software/test_summaries_default_default
build/
gh-pages/
index.json
reports/
site/
.coverage
.DS_Store
